<div ng-controller="RcCtrl">
  <form>
    <div class="well">
      Raw motor enabled: <input type="checkbox" ng-model="rawMotorEnabled" ng-change="setRawMotorEnabled()" />  <br />
      Front: <input type="range" min="1020" max="2000" step="50" ng-model="front" ng-change="setRawMotor()"/> <br />
      Right: <input type="range" min="1020" max="2000" step="50" ng-model="right" ng-change="setRawMotor()" /> <br />
      Left: <input type="range" min="1020" max="2000" step="50" ng-model="left" ng-change="setRawMotor()" />
    </div>
    <div class="well">
      Roll: <input type="number" min="1020" max="2000" step="10" ng-model="roll" />
      <button ng-click="roll=1494">CENTER</button>
      <br />
      Pitch: <input type="number" min="1020" max="2000" step="20" ng-model="pitch" />
      <button ng-click="pitch=1500">CENTER</button>
      <br />
      Yaw: <input type="number" min="1020" max="2000" ng-model="yaw" />
      <br />
      Throttle: <input type="range" min="1150" max="1850" ng-model="throttle" style="height: 50px;" />
      <input type="checkbox" ng-model="throttleOn" />
      <div ng-hide="servosFixed">
        Aux1: <input type="number" min="1230" max="1920" step="10" ng-model="aux1" />
        <br />
        Aux2: <input type="number" min="1230" max="1920" step="10" ng-model="aux2" />
      </div>
      <div ng-show="servosFixed">
        Servos: <input type="range" min="0" max="100" step="1" ng-model="servoOffset" />
      </div>
      <button type="checkbox" ng-click="fixServos()">Fix servos</button>
    </div>
  </form>
</div>