<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HK Aerial (node) Commander</title>
  </head>
  <body ng-app="hk-aerial-node-commander">
    <div ng-controller="DebugCtrl">
      <pre>
        Pitch: {{pitch}}
        Roll: {{roll}}
        Yaw: {{yaw}}
        Throttle: {{throttle}}
        Aux1: {{aux1}}
        Aux1: {{aux2}}
        Aux1: {{aux3}}
        Aux1: {{aux4}}
      </pre>
      <pre>
        Atomic: {{atomic}}
      </pre>
    </div>
    <div ng-controller="RcCtrl">
      <form>
        Roll: <input type="range" min="1020" max="2000" ng-model="roll" />
        <button ng-click="roll=1510">CENTER</button>
        <br />
        Pitch: <input type="range" min="1020" max="2000" ng-model="pitch" />
        <button ng-click="pitch=1510">CENTER</button>
        <br />
        Yaw: <input type="range" min="1020" max="2000" ng-model="yaw" />
        <br />
        Throttle: <input type="range" min="1150" max="1850" ng-model="throttle" />
        <input type="checkbox" ng-model="throttleOn" />
        <br />
        Aux1: <input type="range" min="1006" max="2006" ng-model="aux1" />
        <button ng-click="aux1=1503">CENTER</button>
        <br />
        Aux2: <input type="range" min="1006" max="2006" ng-model="aux2" />
        <button ng-click="aux2=1503">CENTER</button>
      </form>
    </div>
    <script src="/angular/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>