<div ng-controller="MainCtrl">
  
  <ng-include src="'partials/header/header.html'"></ng-include>
  <ng-include src="'partials/connection/connection.html'"></ng-include>
  <ng-include src="'partials/model3D/model3D.html'"></ng-include>
  <ng-include src="'partials/motors/motors.html'"></ng-include>
  <ng-include src="'partials/attitude/attitude.html'"></ng-include>
  <ng-include src="'partials/control/control.html'"></ng-include>
  <ng-include src="'partials/pid/pid.html'"></ng-include>
  <ng-include src="'partials/sensors/sensors.html'"></ng-include>

</div>